/* CURRENTLY IN: styles/main.css */

.popup-container {
	display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.popup-content {
	width: 50%;
	height: 50%;
	background-color: white;
}